.manu{
    display: flex;
    justify-content: space-evenly;
    background-color: cornsilk;
    padding: 5px;
}

.active{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color:red;
}

.non-active{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color:black;
}
